.speaker-image{
    width: 30%;
    height: 170px;
    background-position:center;
    background-repeat: no-repeat;
    /*object-fit: cover;*/
    border-radius: 10px;
}
.speaker-bio{
    margin-top: 50px;
}